<% layout('layouts/boilerplate') -%>

  <h3>Edit Your Listing</h3>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <!-- This form sends a POST request The query parameter "_method=PUT" is used with method-override middleware
      so the server will treat this request as a PUT request instead of POST.-->
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <div class="mb-3">
          <label class="form-label" for="title">Enter Title : </label><br>
          <input class="form-control" type="text" id="title" name="listing[title]" value="<%= listing.title %>">
        </div>
        <div class="mb-3">
          <label class="form-label" for="description">Enter Description :</label><br>
          <textarea class="form-control" id="description" name="listing[description]"><%=listing.description%></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="image">Uploaded Image :</label><br>
          <input class="form-control" type="text" name="listing[image]" value="<%= listing.image.url %>">
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label class="form-label" for="price">Enter Price :</label><br>
            <input class="form-control" type="number" id="price" name="listing[price]" value="<%= listing.price%>">
          </div>

          <div class="mb-3 col-md-8">
            <label class="form-label" for="country">Enter Country :</label><br>
            <input class="form-control" type="text" id="country" name="listing[country]" value="<%= listing.country%>">
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">Enter Location :</label><br>
          <input class="form-control" type="text" id="location" name="listing[location]" value="<%=listing.location%>">
        </div>


        <button class="btn btn-warning mt-5">Edit</button>
      </form>
    </div>
  </div>