<% layout('layouts/boilerplate') -%>




<div class="row">
    <div class="col-8 offset-2">
        <h3>Listing Details : </h3>
    </div>

    <div class="col-6 offset-3">
        <div class="card">
            <img src="<%=listing.image.url%>" class="card-img-top show-image" alt="listing_image">
            <div class="card-body">
                <p class="card-text">
                    
                        <b><%= listing.title %></b> <br>
                        <%= listing.description %> <br>
                        <%= listing.price.toLocaleString("en-IN", { style: "currency" , currency: "INR" }) %></li> <br><!-- toLocaleString is function converts a number to string with-->
                        <%= listing.location %> <br>
                        <%= listing.country %> <br>
                    
                </p>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="btns">


       
        <a class="btn btn-warning col-1 offset-3 edit-btn" href="/listings/<%= listing._id %>/edit" >Edit</a> <!-- when we click on Edit the href link will be activated for that id in which show.ejs is currently opened or jaise he es link par jaayenge vaise he Edit Route got activated in app.js--> <!--edit k liye alag se form banaya hai edit.ejs main h-->
        
        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
            <button class="btn btn-danger offset-4">Delete</button>
        </form>



</div>
    